body {
 background-color:#fafafa;
 color: #5a5a5a;
}
.container {

}

.row-details {
	margin-top:28px;
}

.row-details h3 {
	font-weight: normal;
}

.social-buttons {
	margin: 14px 0 0 0;
}

div.hero {
  background-size: 100%;
  background-image: url('../images/gitninja-hero.svg');
  width: 300px;
  height: 400px;
  margin: 0px auto;
}

.no-svg div.hero {
  background-image: url('../images/gitninja-hero.png');
}

li.complete {
 list-style-image: url('../images/complete.png');
}

li.in-progress {
 list-style-image: url('../images/in-progress.png');
}

li.planned {
 list-style-image: url('../images/planned.png');
}

.jumbotron {
	position: relative;
	padding: 40px 0;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);

	background: #efdbd7;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, #efdbd7 0%, #d5e6ed 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#efdbd7), color-stop(100%,#d5e6ed));
	background: -webkit-linear-gradient(-45deg, #efdbd7 0%,#d5e6ed 100%);
	background: -o-linear-gradient(-45deg, #efdbd7 0%,#d5e6ed 100%);
	background: -ms-linear-gradient(-45deg, #efdbd7 0%,#d5e6ed 100%);
	background: linear-gradient(135deg, #efdbd7 0%,#d5e6ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efdbd7', endColorstr='#d5e6ed',GradientType=1 );

	-webkit-box-shadow: inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 -3px 7px rgba(0,0,0,.2);
}

@media (max-width: 767px) {
	.jumbotron {
  		margin:0px -20px;
	}
}