body {
 background-color:#fafafa;
 font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
 font-size: 14px;
}
#centrefold {
 width: 300px;
 position: absolute;
 left: 50%; 
 margin: 20px auto auto -150px;
 text-align: center;
}
div.hero
{
  background-size: 100%;
  background-image: url('../images/gitninja-hero.svg');
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
}
.no-svg div.hero
{
  background-image: url('../images/gitninja-hero.png');
}
#statement {
 width: 480px;
 position: absolute;
 left: 50%; 
 margin: 500px auto auto -380px;
 text-align: left;
}
#roadmap {
 width: 260px;
 position: absolute;
 left: 50%; 
 margin: 500px auto auto 120px;
 text-align: left;
}
h2 {
 text-align: left;
 font-size: 18px;
 margin: 0;
}
h3 {
 text-align: left;
 font-size: 16px;
 margin: 0;
}
li.complete{
 list-style-image: url('../images/complete.png');
}
li.in-progress{
 list-style-image: url('../images/in-progress.png');
}
li.planned{
 list-style-image: url('../images/planned.png');
}