body {
 background-color:#fafafa;
}

#centrefold {
 width: 300px;
 height: 400px;
 position: absolute; 
 top: 50%; 
 left: 50%; 
 margin: -250px auto auto -150px;
 text-align: center;
}

div.hero
{
  background-size: 100%;
  background-image: url('../images/gitninja-hero.svg');
  width:300px;
  height:400px;
  margin-bottom:30px;
}

.no-svg div.hero
{
  background-image: url('../images/gitninja-hero.png');
}